# Big Data Analytics - Assignment 01 **[Udara Dananjaya] [BSIT 211002]**

# Setting up the environment for PySpark,

Update and upgrade the repositories

In [ ]:
!apt update &> /dev/null
!apt upgrade -y &> /dev/null

Check if pip is installed.

In [ ]:
!pip --version

pip 23.1.2 from /usr/local/lib/python3.10/dist-packages/pip (python 3.10)

Install the Python packages PySpark and PyDrive.

In [ ]:
!pip install pyspark --quiet
!pip install -U -q PyDrive --quiet

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 4.7 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
  Building wheel for pyspark (setup.py) ... done

install the OpenJDK 8 JDK (Java Development Kit) in a headless mode

In [ ]:
!apt install openjdk-8-jdk-headless &> /dev/null

Setting the `JAVA_HOME` environment variable on the system

In [ ]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"

In [ ]:
!echo $JAVA_HOME

/usr/lib/jvm/java-8-openjdk-amd64

The code initializes a Spark session using PySpark. It sets the application name to "bigData" and configures the Spark UI port to be 4050.

In [ ]:
from pyspark.sql import SparkSession

spark = SparkSession \
    .builder \
    .appName("bigData") \
    .config("spark.ui.port", "4050") \
    .getOrCreate()

To retrieve details about your Spark application, you can access the `spark` variable, which represents the SparkSession.

In [ ]:
spark

To get a dataset, we can use the `wget` command. `wget [options] [URL]`

In [ ]:
!wget https://raw.githubusercontent.com/Udara-Dananjaya/PySpark_Sample/main/Dataset.csv

--2023-10-30 17:37:45--  https://raw.githubusercontent.com/Udara-Dananjaya/PySpark_Sample/main/Dataset.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 41957453 (40M) [text/plain]
Saving to: ‘Dataset.csv’

Dataset.csv         100%[===================>]  40.01M   181MB/s    in 0.2s

2023-10-30 17:37:46 (181 MB/s) - ‘Dataset.csv’ saved [41957453/41957453]

After downloading the file, we can check if it was downloaded successfully using the `ls` command.

In [ ]:
!ls

Dataset.csv  sample_data

Read the board_games.csv file using the Spark spark.read.csv() function.

In [ ]:
df = spark.read.csv('Dataset.csv', header = True, sep = ",")

display the columns of the dataframe

In [ ]:
df.show(5)

+-----+--------+------+-------------+-----------+-------+-----------------+------+-----------------+------+----------+------+-----+----+--------+---------+-----------+----------+------+
|index|  stream|Zscore|district_rank|island_rank|al_year|             sub1|sub1_r|             sub2|sub2_r|      sub3|sub3_r|cgt_r|ge_r|syllabus|birth_day|birth_month|birth_year|gender|
+-----+--------+------+-------------+-----------+-------+-----------------+------+-----------------+------+----------+------+-----+----+--------+---------+-----------+----------+------+
|    0|    ARTS|-.3550|   4336 (NEW)|64994 (NEW)|   2020|POLITICAL SCIENCE|     S|DANCING(BHARATHA)|     C|     TAMIL|     S|  056|   S|     new|       31|        May|      2001|female|
|    1|    ARTS|-.2648|   4154 (NEW)|62338 (NEW)|   2020|POLITICAL SCIENCE|     S|   CARNATIC MUSIC|     C|     TAMIL|     C|  032|   C|     new|       13|    January|      2002|female|
|    2|COMMERCE|-.4760|   6910 (NEW)|37307 (NEW)|   2020|        ECONOMICS|     S| BUSINESS STUDIES|     S|ACCOUNTING|     S|  050|   S|     new|       16|     August|      2001|female|
|    3|COMMERCE|-.1012|   5678 (NEW)|30449 (NEW)|   2020|        ECONOMICS|     C| BUSINESS STUDIES|     C|ACCOUNTING|     S|  034|   S|     new|       16|     August|      2001|female|
|    4|COMMERCE| .6014|   3269 (NEW)|17010 (NEW)|   2020|        ECONOMICS|     C| BUSINESS STUDIES|     C|ACCOUNTING|     B|  036|   S|     new|        7|     August|      2000|female|
+-----+--------+------+-------------+-----------+-------+-----------------+------+-----------------+------+----------+------+-----+----+--------+---------+-----------+----------+------+
only showing top 5 rows

In [ ]:
df.show(5, truncate=True)

+-----+--------+------+-------------+-----------+-------+-----------------+------+-----------------+------+----------+------+-----+----+--------+---------+-----------+----------+------+
|index|  stream|Zscore|district_rank|island_rank|al_year|             sub1|sub1_r|             sub2|sub2_r|      sub3|sub3_r|cgt_r|ge_r|syllabus|birth_day|birth_month|birth_year|gender|
+-----+--------+------+-------------+-----------+-------+-----------------+------+-----------------+------+----------+------+-----+----+--------+---------+-----------+----------+------+
|    0|    ARTS|-.3550|   4336 (NEW)|64994 (NEW)|   2020|POLITICAL SCIENCE|     S|DANCING(BHARATHA)|     C|     TAMIL|     S|  056|   S|     new|       31|        May|      2001|female|
|    1|    ARTS|-.2648|   4154 (NEW)|62338 (NEW)|   2020|POLITICAL SCIENCE|     S|   CARNATIC MUSIC|     C|     TAMIL|     C|  032|   C|     new|       13|    January|      2002|female|
|    2|COMMERCE|-.4760|   6910 (NEW)|37307 (NEW)|   2020|        ECONOMICS|     S| BUSINESS STUDIES|     S|ACCOUNTING|     S|  050|   S|     new|       16|     August|      2001|female|
|    3|COMMERCE|-.1012|   5678 (NEW)|30449 (NEW)|   2020|        ECONOMICS|     C| BUSINESS STUDIES|     C|ACCOUNTING|     S|  034|   S|     new|       16|     August|      2001|female|
|    4|COMMERCE| .6014|   3269 (NEW)|17010 (NEW)|   2020|        ECONOMICS|     C| BUSINESS STUDIES|     C|ACCOUNTING|     B|  036|   S|     new|        7|     August|      2000|female|
+-----+--------+------+-------------+-----------+-------+-----------------+------+-----------------+------+----------+------+-----+----+--------+---------+-----------+----------+------+
only showing top 5 rows

In [ ]:
df.limit(5)

DataFrame[index: string, stream: string, Zscore: string, district_rank: string, island_rank: string, al_year: string, sub1: string, sub1_r: string, sub2: string, sub2_r: string, sub3: string, sub3_r: string, cgt_r: string, ge_r: string, syllabus: string, birth_day: string, birth_month: string, birth_year: string, gender: string]

In [ ]:
df.columns

['index',
 'stream',
 'Zscore',
 'district_rank',
 'island_rank',
 'al_year',
 'sub1',
 'sub1_r',
 'sub2',
 'sub2_r',
 'sub3',
 'sub3_r',
 'cgt_r',
 'ge_r',
 'syllabus',
 'birth_day',
 'birth_month',
 'birth_year',
 'gender']

In [ ]:
df.dtypes

[('index', 'string'),
 ('stream', 'string'),
 ('Zscore', 'string'),
 ('district_rank', 'string'),
 ('island_rank', 'string'),
 ('al_year', 'string'),
 ('sub1', 'string'),
 ('sub1_r', 'string'),
 ('sub2', 'string'),
 ('sub2_r', 'string'),
 ('sub3', 'string'),
 ('sub3_r', 'string'),
 ('cgt_r', 'string'),
 ('ge_r', 'string'),
 ('syllabus', 'string'),
 ('birth_day', 'string'),
 ('birth_month', 'string'),
 ('birth_year', 'string'),
 ('gender', 'string')]

In [ ]:
df.printSchema()

root
 |-- index: string (nullable = true)
 |-- stream: string (nullable = true)
 |-- Zscore: string (nullable = true)
 |-- district_rank: string (nullable = true)
 |-- island_rank: string (nullable = true)
 |-- al_year: string (nullable = true)
 |-- sub1: string (nullable = true)
 |-- sub1_r: string (nullable = true)
 |-- sub2: string (nullable = true)
 |-- sub2_r: string (nullable = true)
 |-- sub3: string (nullable = true)
 |-- sub3_r: string (nullable = true)
 |-- cgt_r: string (nullable = true)
 |-- ge_r: string (nullable = true)
 |-- syllabus: string (nullable = true)
 |-- birth_day: string (nullable = true)
 |-- birth_month: string (nullable = true)
 |-- birth_year: string (nullable = true)
 |-- gender: string (nullable = true)

Select Data from PySpark

In [ ]:
print(df.Zscore)
print("*"*20)
df.select(df.Zscore).show(truncate=False)

Column<'Zscore'>
********************
+------+
|Zscore|
+------+
|-.3550|
|-.2648|
|-.4760|
|-.1012|
|.6014 |
|-.5061|
|.0177 |
|-.3106|
|-     |
|1.0447|
|-.5975|
|-.6057|
|.4861 |
|.5863 |
|-     |
|.2364 |
|-.0381|
|-     |
|-.2667|
|-.2031|
+------+
only showing top 20 rows

Selecting Multiple Columns

In [ ]:
print(df.stream, df.Zscore)
print("*"*40)
df.select(df.stream, df.Zscore).show(truncate=False)

Column<'stream'> Column<'Zscore'>
****************************************
+--------+------+
|stream  |Zscore|
+--------+------+
|ARTS    |-.3550|
|ARTS    |-.2648|
|COMMERCE|-.4760|
|COMMERCE|-.1012|
|COMMERCE|.6014 |
|ARTS    |-.5061|
|ARTS    |.0177 |
|ARTS    |-.3106|
|-       |-     |
|COMMERCE|1.0447|
|-       |-.5975|
|COMMERCE|-.6057|
|ARTS    |.4861 |
|ARTS    |.5863 |
|-       |-     |
|ARTS    |.2364 |
|COMMERCE|-.0381|
|-       |-     |
|COMMERCE|-.2667|
|COMMERCE|-.2031|
+--------+------+
only showing top 20 rows

Adding New Columns

In [ ]:
from pyspark.sql.functions import lit
df = df.withColumn('district', lit('Kegalla'))
df.show(5,truncate=False)

+-----+--------+------+-------------+-----------+-------+-----------------+------+-----------------+------+----------+------+-----+----+--------+---------+-----------+----------+------+-------------+---------+--------+
|index|stream  |Zscore|district_rank|island_rank|al_year|sub1             |sub1_r|sub2             |sub2_r|sub3      |sub3_r|cgt_r|ge_r|syllabus|birth_day|birth_month|birth_year|gender|second_column|exam_year|district|
+-----+--------+------+-------------+-----------+-------+-----------------+------+-----------------+------+----------+------+-----+----+--------+---------+-----------+----------+------+-------------+---------+--------+
|0    |ARTS    |-.3550|4336 (NEW)   |64994 (NEW)|2020   |POLITICAL SCIENCE|S     |DANCING(BHARATHA)|C     |TAMIL     |S     |056  |S   |new     |31       |May        |2001      |female|2            |2020     |Kegalla |
|1    |ARTS    |-.2648|4154 (NEW)   |62338 (NEW)|2020   |POLITICAL SCIENCE|S     |CARNATIC MUSIC   |C     |TAMIL     |C     |032  |C   |new     |13       |January    |2002      |female|2            |2020     |Kegalla |
|2    |COMMERCE|-.4760|6910 (NEW)   |37307 (NEW)|2020   |ECONOMICS        |S     |BUSINESS STUDIES |S     |ACCOUNTING|S     |050  |S   |new     |16       |August     |2001      |female|2            |2020     |Kegalla |
|3    |COMMERCE|-.1012|5678 (NEW)   |30449 (NEW)|2020   |ECONOMICS        |C     |BUSINESS STUDIES |C     |ACCOUNTING|S     |034  |S   |new     |16       |August     |2001      |female|2            |2020     |Kegalla |
|4    |COMMERCE|.6014 |3269 (NEW)   |17010 (NEW)|2020   |ECONOMICS        |C     |BUSINESS STUDIES |C     |ACCOUNTING|B     |036  |S   |new     |7        |August     |2000      |female|2            |2020     |Kegalla |
+-----+--------+------+-------------+-----------+-------+-----------------+------+-----------------+------+----------+------+-----+----+--------+---------+-----------+----------+------+-------------+---------+--------+
only showing top 5 rows

Rename columns

In [ ]:
df = df.withColumnRenamed('sub1','Subject 1')
df.show(truncate = False)

+-----+--------+------+-------------+-----------+-------+-----------------+------+------------------+------+----------+------+------+------+--------+---------+-----------+----------+------+-------------+---------+--------+
|index|stream  |Zscore|district_rank|island_rank|al_year|Subject 1        |sub1_r|sub2              |sub2_r|sub3      |sub3_r|cgt_r |ge_r  |syllabus|birth_day|birth_month|birth_year|gender|second_column|exam_year|district|
+-----+--------+------+-------------+-----------+-------+-----------------+------+------------------+------+----------+------+------+------+--------+---------+-----------+----------+------+-------------+---------+--------+
|0    |ARTS    |-.3550|4336 (NEW)   |64994 (NEW)|2020   |POLITICAL SCIENCE|S     |DANCING(BHARATHA) |C     |TAMIL     |S     |056   |S     |new     |31       |May        |2001      |female|2            |2020     |Kegalla |
|1    |ARTS    |-.2648|4154 (NEW)   |62338 (NEW)|2020   |POLITICAL SCIENCE|S     |CARNATIC MUSIC    |C     |TAMIL     |C     |032   |C     |new     |13       |January    |2002      |female|2            |2020     |Kegalla |
|2    |COMMERCE|-.4760|6910 (NEW)   |37307 (NEW)|2020   |ECONOMICS        |S     |BUSINESS STUDIES  |S     |ACCOUNTING|S     |050   |S     |new     |16       |August     |2001      |female|2            |2020     |Kegalla |
|3    |COMMERCE|-.1012|5678 (NEW)   |30449 (NEW)|2020   |ECONOMICS        |C     |BUSINESS STUDIES  |C     |ACCOUNTING|S     |034   |S     |new     |16       |August     |2001      |female|2            |2020     |Kegalla |
|4    |COMMERCE|.6014 |3269 (NEW)   |17010 (NEW)|2020   |ECONOMICS        |C     |BUSINESS STUDIES  |C     |ACCOUNTING|B     |036   |S     |new     |7        |August     |2000      |female|2            |2020     |Kegalla |
|5    |ARTS    |-.5061|4602 (NEW)   |68521 (NEW)|2020   |POLITICAL SCIENCE|S     |HINDU CIVILIZATION|C     |TAMIL     |S     |022   |S     |new     |9        |January    |2002      |female|2            |2020     |Kegalla |
|6    |ARTS    |.0177 |3419 (NEW)   |52426 (NEW)|2020   |POLITICAL SCIENCE|S     |HINDU CIVILIZATION|B     |TAMIL     |S     |028   |F     |new     |31       |December   |2001      |female|2            |2020     |Kegalla |
|7    |ARTS    |-.3106|4247 (NEW)   |63760 (NEW)|2020   |POLITICAL SCIENCE|S     |CHRISTIANITY      |C     |TAMIL     |C     |034   |S     |new     |6        |December   |2001      |female|2            |2020     |Kegalla |
|8    |-       |-     |-            |-          |2020   |ECONOMICS        |S     |BUSINESS STUDIES  |F     |ACCOUNTING|F     |040   |F     |new     |16       |November   |2000      |female|2            |2020     |Kegalla |
|9    |COMMERCE|1.0447|2008 (NEW)   |9743 (NEW) |2020   |ECONOMICS        |B     |BUSINESS STUDIES  |C     |ACCOUNTING|A     |046   |C     |new     |18       |June       |2001      |female|2            |2020     |Kegalla |
|10   |-       |-.5975|-            |-          |2020   |POLITICAL SCIENCE|F     |HINDU CIVILIZATION|C     |TAMIL     |S     |040   |S     |new     |6        |April      |2001      |female|2            |2020     |Kegalla |
|11   |COMMERCE|-.6057|7192 (NEW)   |38835 (NEW)|2020   |ECONOMICS        |S     |BUSINESS STUDIES  |S     |ACCOUNTING|S     |050   |C     |new     |1        |February   |2001      |female|2            |2020     |Kegalla |
|12   |ARTS    |.4861 |2296 (NEW)   |34635 (NEW)|2020   |POLITICAL SCIENCE|C     |HINDU CIVILIZATION|B     |TAMIL     |C     |030   |F     |new     |9        |June       |2001      |female|2            |2020     |Kegalla |
|13   |ARTS    |.5863 |2081 (NEW)   |30905 (NEW)|2020   |POLITICAL SCIENCE|C     |CARNATIC MUSIC    |B     |TAMIL     |B     |034   |F     |new     |12       |March      |2001      |female|2            |2020     |Kegalla |
|14   |-       |-     |-            |-          |2020   |ECONOMICS        |S     |BUSINESS STUDIES  |F     |ACCOUNTING|F     |038   |S     |new     |3        |August     |2001      |female|2            |2020     |Kegalla |
|15   |ARTS    |.2364 |2895 (NEW)   |44119 (NEW)|2020   |POLITICAL SCIENCE|C     |HINDU CIVILIZATION|B     |TAMIL     |C     |038   |S     |new     |5        |March      |2001      |female|2            |2020     |Kegalla |
|16   |COMMERCE|-.0381|5440 (NEW)   |29133 (NEW)|2020   |ECONOMICS        |C     |BUSINESS STUDIES  |C     |ACCOUNTING|S     |032   |S     |new     |1        |April      |2001      |female|2            |2020     |Kegalla |
|17   |-       |-     |-            |-          |2020   |ECONOMICS        |Absent|BUSINESS STUDIES  |Absent|ACCOUNTING|Absent|Absent|Absent|new     |1        |July       |2000      |female|2            |2020     |Kegalla |
|18   |COMMERCE|-.2667|6305 (NEW)   |33764 (NEW)|2020   |ECONOMICS        |C     |BUSINESS STUDIES  |S     |ACCOUNTING|S     |042   |S     |new     |18       |April      |2001      |female|2            |2020     |Kegalla |
|19   |COMMERCE|-.2031|6069 (NEW)   |32549 (NEW)|2020   |ECONOMICS        |C     |BUSINESS STUDIES  |C     |ACCOUNTING|S     |050   |S     |new     |8        |January    |2001      |female|2            |2020     |Kegalla |
+-----+--------+------+-------------+-----------+-------+-----------------+------+------------------+------+----------+------+------+------+--------+---------+-----------+----------+------+-------------+---------+--------+
only showing top 20 rows

Remove Columns

In [ ]:
df = df.drop('stream')
df.show(10, truncate = False)

+-----+------+-------------+-----------+-------+-----------------+------+------------------+------+----------+------+-----+----+--------+---------+-----------+----------+------+-------------+---------+--------+
|index|Zscore|district_rank|island_rank|al_year|Subject 1        |sub1_r|sub2              |sub2_r|sub3      |sub3_r|cgt_r|ge_r|syllabus|birth_day|birth_month|birth_year|gender|second_column|exam_year|district|
+-----+------+-------------+-----------+-------+-----------------+------+------------------+------+----------+------+-----+----+--------+---------+-----------+----------+------+-------------+---------+--------+
|0    |-.3550|4336 (NEW)   |64994 (NEW)|2020   |POLITICAL SCIENCE|S     |DANCING(BHARATHA) |C     |TAMIL     |S     |056  |S   |new     |31       |May        |2001      |female|2            |2020     |Kegalla |
|1    |-.2648|4154 (NEW)   |62338 (NEW)|2020   |POLITICAL SCIENCE|S     |CARNATIC MUSIC    |C     |TAMIL     |C     |032  |C   |new     |13       |January    |2002      |female|2            |2020     |Kegalla |
|2    |-.4760|6910 (NEW)   |37307 (NEW)|2020   |ECONOMICS        |S     |BUSINESS STUDIES  |S     |ACCOUNTING|S     |050  |S   |new     |16       |August     |2001      |female|2            |2020     |Kegalla |
|3    |-.1012|5678 (NEW)   |30449 (NEW)|2020   |ECONOMICS        |C     |BUSINESS STUDIES  |C     |ACCOUNTING|S     |034  |S   |new     |16       |August     |2001      |female|2            |2020     |Kegalla |
|4    |.6014 |3269 (NEW)   |17010 (NEW)|2020   |ECONOMICS        |C     |BUSINESS STUDIES  |C     |ACCOUNTING|B     |036  |S   |new     |7        |August     |2000      |female|2            |2020     |Kegalla |
|5    |-.5061|4602 (NEW)   |68521 (NEW)|2020   |POLITICAL SCIENCE|S     |HINDU CIVILIZATION|C     |TAMIL     |S     |022  |S   |new     |9        |January    |2002      |female|2            |2020     |Kegalla |
|6    |.0177 |3419 (NEW)   |52426 (NEW)|2020   |POLITICAL SCIENCE|S     |HINDU CIVILIZATION|B     |TAMIL     |S     |028  |F   |new     |31       |December   |2001      |female|2            |2020     |Kegalla |
|7    |-.3106|4247 (NEW)   |63760 (NEW)|2020   |POLITICAL SCIENCE|S     |CHRISTIANITY      |C     |TAMIL     |C     |034  |S   |new     |6        |December   |2001      |female|2            |2020     |Kegalla |
|8    |-     |-            |-          |2020   |ECONOMICS        |S     |BUSINESS STUDIES  |F     |ACCOUNTING|F     |040  |F   |new     |16       |November   |2000      |female|2            |2020     |Kegalla |
|9    |1.0447|2008 (NEW)   |9743 (NEW) |2020   |ECONOMICS        |B     |BUSINESS STUDIES  |C     |ACCOUNTING|A     |046  |C   |new     |18       |June       |2001      |female|2            |2020     |Kegalla |
+-----+------+-------------+-----------+-------+-----------------+------+------------------+------+----------+------+-----+----+--------+---------+-----------+----------+------+-------------+---------+--------+
only showing top 10 rows

We need insert col to do operations

In [ ]:
from pyspark.sql.functions import col

filter rows

In [ ]:
action_films = df.filter(col('sub2') == "sub2").count()
print("Count of sub2 sub2: " + str(action_films))
df.filter(col('sub2') == "CHRISTIANITY").show(truncate = False)

Count of sub2 sub2: 0
+-----+-------+-------------+-----------+-------+-----------------------------+------+------------+------+-------+------+------+------+--------+---------+-----------+----------+------+-------------+---------+--------+
|index|Zscore |district_rank|island_rank|al_year|Subject 1                    |sub1_r|sub2        |sub2_r|sub3   |sub3_r|cgt_r |ge_r  |syllabus|birth_day|birth_month|birth_year|gender|second_column|exam_year|district|
+-----+-------+-------------+-----------+-------+-----------------------------+------+------------+------+-------+------+------+------+--------+---------+-----------+----------+------+-------------+---------+--------+
|7    |-.3106 |4247 (NEW)   |63760 (NEW)|2020   |POLITICAL SCIENCE            |S     |CHRISTIANITY|C     |TAMIL  |C     |034   |S     |new     |6        |December   |2001      |female|2            |2020     |Kegalla |
|68   |.4328  |2422 (NEW)   |36639 (NEW)|2020   |COMMUNICATION & MEDIA STUDIES|C     |CHRISTIANITY|B     |SINHALA|C     |050   |F     |new     |3        |August     |2001      |female|2            |2020     |Kegalla |
|72   |.1169  |3182 (NEW)   |48738 (NEW)|2020   |HOME ECONOMICS               |C     |CHRISTIANITY|B     |SINHALA|C     |032   |F     |new     |26       |October    |2001      |female|2            |2020     |Kegalla |
|105  |-1.4856|-            |-          |2020   |HOME ECONOMICS               |S     |CHRISTIANITY|F     |SINHALA|S     |028   |F     |new     |1        |September  |2001      |female|2            |2020     |Kegalla |
|112  |-.7618 |4847 (NEW)   |71985 (NEW)|2020   |HOME ECONOMICS               |S     |CHRISTIANITY|C     |SINHALA|S     |010   |F     |new     |16       |October    |2001      |female|2            |2020     |Kegalla |
|129  |-1.1293|-            |-          |2020   |HOME ECONOMICS               |S     |CHRISTIANITY|C     |SINHALA|F     |032   |S     |new     |27       |January    |2002      |male  |2            |2020     |Kegalla |
|130  |-1.0187|-            |-          |2020   |ECONOMICS                    |F     |CHRISTIANITY|S     |SINHALA|C     |032   |C     |new     |12       |June       |2001      |male  |2            |2020     |Kegalla |
|137  |-      |-            |-          |2020   |HOME ECONOMICS               |Absent|CHRISTIANITY|Absent|SINHALA|Absent|Absent|Absent|new     |30       |July       |2001      |male  |2            |2020     |Kegalla |
|142  |-1.2661|4914 (NEW)   |72996 (NEW)|2020   |HOME ECONOMICS               |S     |CHRISTIANITY|S     |SINHALA|S     |062   |C     |new     |17       |March      |2000      |male  |2            |2020     |Kegalla |
|143  |-.7262 |4828 (NEW)   |71699 (NEW)|2020   |HOME ECONOMICS               |C     |CHRISTIANITY|C     |SINHALA|S     |060   |S     |new     |3        |January    |2002      |male  |2            |2020     |Kegalla |
|145  |.0413  |3368 (NEW)   |51547 (NEW)|2020   |COMMUNICATION & MEDIA STUDIES|S     |CHRISTIANITY|C     |SINHALA|C     |038   |S     |new     |15       |September  |2000      |male  |2            |2020     |Kegalla |
|147  |-1.1342|4913 (NEW)   |72974 (NEW)|2020   |HOME ECONOMICS               |S     |CHRISTIANITY|C     |SINHALA|S     |038   |C     |new     |27       |September  |2001      |male  |2            |2020     |Kegalla |
|152  |-      |-            |-          |2020   |HOME ECONOMICS               |Absent|CHRISTIANITY|Absent|SINHALA|Absent|Absent|Absent|new     |16       |March      |2001      |male  |2            |2020     |Kegalla |
|306  |-.6600 |-            |-          |2020   |COMMUNICATION & MEDIA STUDIES|S     |CHRISTIANITY|C     |SINHALA|F     |034   |F     |new     |11       |July       |2001      |male  |2            |2020     |Kegalla |
|309  |-      |-            |-          |2020   |COMMUNICATION & MEDIA STUDIES|F     |CHRISTIANITY|C     |SINHALA|F     |036   |Absent|new     |25       |December   |2001      |male  |2            |2020     |Kegalla |
|314  |-.3359 |4298 (NEW)   |64493 (NEW)|2020   |COMMUNICATION & MEDIA STUDIES|S     |CHRISTIANITY|B     |SINHALA|S     |036   |F     |new     |26       |March      |2001      |male  |2            |2020     |Kegalla |
|325  |-.3320 |4290 (NEW)   |64373 (NEW)|2020   |COMMUNICATION & MEDIA STUDIES|S     |CHRISTIANITY|B     |SINHALA|S     |048   |S     |new     |19       |March      |2001      |male  |2            |2020     |Kegalla |
|331  |.3378  |2639 (NEW)   |40249 (NEW)|2020   |COMMUNICATION & MEDIA STUDIES|S     |CHRISTIANITY|A     |SINHALA|C     |042   |S     |new     |23       |January    |2002      |male  |2            |2020     |Kegalla |
|332  |-      |-            |-          |2020   |ECONOMICS                    |F     |CHRISTIANITY|S     |SINHALA|F     |040   |S     |new     |4        |August     |2001      |male  |2            |2020     |Kegalla |
|335  |-      |-            |-          |2020   |GEOGRAPHY                    |F     |CHRISTIANITY|B     |TAMIL  |F     |030   |F     |new     |11       |August     |2000      |male  |2            |2020     |Kegalla |
+-----+-------+-------------+-----------+-------+-----------------------------+------+------------+------+-------+------+------+------+--------+---------+-----------+----------+------+-------------+---------+--------+
only showing top 20 rows

Get data sub3 to sinhala

In [ ]:
df.filter(col('sub3') == "SINHALA").show(truncate = False)

+-----+-------+-------------+-----------+-------+--------------------------------------+------+-----------------------------+------+-------+------+------+----+--------+---------+-----------+----------+------+-------------+---------+--------+
|index|Zscore |district_rank|island_rank|al_year|Subject 1                             |sub1_r|sub2                         |sub2_r|sub3   |sub3_r|cgt_r |ge_r|syllabus|birth_day|birth_month|birth_year|gender|second_column|exam_year|district|
+-----+-------+-------------+-----------+-------+--------------------------------------+------+-----------------------------+------+-------+------+------+----+--------+---------+-----------+----------+------+-------------+---------+--------+
|68   |.4328  |2422 (NEW)   |36639 (NEW)|2020   |COMMUNICATION & MEDIA STUDIES         |C     |CHRISTIANITY                 |B     |SINHALA|C     |050   |F   |new     |3        |August     |2001      |female|2            |2020     |Kegalla |
|70   |1.2455 |837 (NEW)    |10392 (NEW)|2020   |GEOGRAPHY                             |B     |COMMUNICATION & MEDIA STUDIES|A     |SINHALA|B     |040   |F   |new     |5        |August     |2001      |female|2            |2020     |Kegalla |
|71   |.0803  |3277 (NEW)   |50123 (NEW)|2020   |POLITICAL SCIENCE                     |S     |COMMUNICATION & MEDIA STUDIES|C     |SINHALA|C     |038   |S   |new     |20       |May        |2001      |female|2            |2020     |Kegalla |
|72   |.1169  |3182 (NEW)   |48738 (NEW)|2020   |HOME ECONOMICS                        |C     |CHRISTIANITY                 |B     |SINHALA|C     |032   |F   |new     |26       |October    |2001      |female|2            |2020     |Kegalla |
|73   |-.2263 |4072 (NEW)   |61107 (NEW)|2020   |POLITICAL SCIENCE                     |S     |COMMUNICATION & MEDIA STUDIES|C     |SINHALA|S     |042   |F   |new     |28       |November   |2001      |female|2            |2020     |Kegalla |
|76   |.5170  |2227 (NEW)   |33486 (NEW)|2020   |POLITICAL SCIENCE                     |C     |COMMUNICATION & MEDIA STUDIES|C     |SINHALA|C     |024   |S   |new     |14       |December   |2001      |female|2            |2020     |Kegalla |
|90   |-      |-            |-          |2020   |POLITICAL SCIENCE                     |F     |LOGIC & SCIENTIFIC METHOD    |F     |SINHALA|S     |036   |F   |new     |16       |November   |2001      |female|2            |2020     |Kegalla |
|93   |-      |-            |-          |2020   |INFORMATION & COMMUNICATION TECHNOLOGY|F     |LOGIC & SCIENTIFIC METHOD    |F     |SINHALA|C     |028   |C   |new     |16       |September  |2001      |female|2            |2020     |Kegalla |
|102  |-.8613 |-            |-          |2020   |INFORMATION & COMMUNICATION TECHNOLOGY|F     |COMMUNICATION & MEDIA STUDIES|S     |SINHALA|S     |040   |C   |new     |29       |December   |2001      |female|2            |2020     |Kegalla |
|105  |-1.4856|-            |-          |2020   |HOME ECONOMICS                        |S     |CHRISTIANITY                 |F     |SINHALA|S     |028   |F   |new     |1        |September  |2001      |female|2            |2020     |Kegalla |
|106  |-.1789 |3942 (NEW)   |59526 (NEW)|2020   |GEOGRAPHY                             |C     |COMMUNICATION & MEDIA STUDIES|S     |SINHALA|C     |032   |F   |new     |31       |March      |2001      |female|2            |2020     |Kegalla |
|108  |-.0832 |-            |-          |2020   |ECONOMICS                             |F     |COMMUNICATION & MEDIA STUDIES|C     |SINHALA|C     |Absent|S   |new     |13       |March      |2000      |female|2            |2020     |Kegalla |
|112  |-.7618 |4847 (NEW)   |71985 (NEW)|2020   |HOME ECONOMICS                        |S     |CHRISTIANITY                 |C     |SINHALA|S     |010   |F   |new     |16       |October    |2001      |female|2            |2020     |Kegalla |
|116  |.5976  |-            |-          |2020   |POLITICAL SCIENCE                     |F     |COMMUNICATION & MEDIA STUDIES|B     |SINHALA|B     |026   |S   |new     |12       |December   |2001      |female|2            |2020     |Kegalla |
|120  |.0304  |3390 (NEW)   |51953 (NEW)|2020   |POLITICAL SCIENCE                     |S     |COMMUNICATION & MEDIA STUDIES|C     |SINHALA|C     |024   |S   |new     |2        |November   |2001      |female|2            |2020     |Kegalla |
|126  |.8481  |1535 (NEW)   |21831 (NEW)|2020   |POLITICAL SCIENCE                     |B     |COMMUNICATION & MEDIA STUDIES|B     |SINHALA|C     |052   |S   |new     |19       |February   |2001      |female|2            |2020     |Kegalla |
|129  |-1.1293|-            |-          |2020   |HOME ECONOMICS                        |S     |CHRISTIANITY                 |C     |SINHALA|F     |032   |S   |new     |27       |January    |2002      |male  |2            |2020     |Kegalla |
|130  |-1.0187|-            |-          |2020   |ECONOMICS                             |F     |CHRISTIANITY                 |S     |SINHALA|C     |032   |C   |new     |12       |June       |2001      |male  |2            |2020     |Kegalla |
|135  |-.6535 |-            |-          |2020   |ECONOMICS                             |F     |COMMUNICATION & MEDIA STUDIES|S     |SINHALA|S     |040   |F   |new     |5        |January    |2002      |male  |2            |2020     |Kegalla |
|136  |.2294  |2911 (NEW)   |44395 (NEW)|2020   |HOME ECONOMICS                        |C     |COMMUNICATION & MEDIA STUDIES|C     |SINHALA|C     |034   |F   |new     |18       |June       |2001      |male  |2            |2020     |Kegalla |
+-----+-------+-------------+-----------+-------+--------------------------------------+------+-----------------------------+------+-------+------+------+----+--------+---------+-----------+----------+------+-------------+---------+--------+
only showing top 20 rows