Name :- Udara Dananjaya /
Student ID :- BSIT 211004 /
NIC No. :- 200028900467 /
Subject :- Big Data Analytics (BSIT 31023)



> **Assignment**

For my assignment I used spark to do various operations with big data. Pyspark is the python API of spark. There are two types of operations, transformations and actions. Transformations are the operations that applied to dataset to create new dataset. Actions are the operations which instructs Spark to perform computaion and send the output back to driver.

To perform operations we have two options, RDD and Dataframe. RDD (Resilient Distributed Dataset) is the collection of different types of objects. Also it is a fundamental structure of data and fixed collection of data that calculates on a cluster's different nodes. Dataframe is a distributed collection of data. It is arranged into named columns.

In here, I used the dataframe concept to do this assignment.

First I need to setup our environment. I want to install pyspark (Python package), PyDrive (Python library used for working with Google Drive and interacting with files and folders in Google Drive through Python code) and JDK (Java Development Kit).

In [ ]:
!pip install pyspark --quiet
!pip install -U -q PyDrive --quiet
!apt install openjdk-8-jdk-headless &> /dev/null

  Preparing metadata (setup.py) ... done
  Building wheel for pyspark (setup.py) ... done

Then I have to import Operating System to my environmet, so that I import open jdk.

In [ ]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"

Then I import **SparkSession** class from **pyspark.sql** module. Afterthat I creat a object called "spark" in SparkSession class. And it includes
**SparkSession.builder** (creates a builder object that allows you to configure the SparkSession), **.appName** (sets the name of your Spark application to "BigDataAssignment."), **.config** (configures Spark to use port 4050 for its web user interface (UI). The Spark UI provides information about the status and progress of your Spark application), and **.getOrCreate** ( method either retrieves an existing SparkSession or creates a new one if it doesn't exist).

In [ ]:
from pyspark.sql import SparkSession

spark = SparkSession \
        .builder \
        .appName("BigDataAssignment") \
        .config("spark.ui.port", "4050") \
        .getOrCreate()

If I want to details about my spark application, I can use following command.

In [ ]:
spark

In pyspark we have two options to read a big data file. First method is upload a file to drive and read it. Second one is give URL from (!wget) command. In here, I used first option that upload a file from local device to drive and read.

To perform that task I need to import "files" class from "google.colab" library. I used "upload()" function to get the file from local device and "uploaded" containing uploaded files.

I downloaded a csv file named as "films.csv" that contains the details about several films. I included that file to my folder.

In [ ]:
from google.colab import files

uploaded = files.upload()

Saving films.csv to films.csv

In [ ]:
!ls

'film (1).csv'	 film.csv   films.csv   sample_data

We can create dataframe manually by using "createDataFrame()" function. But in this case I want to create dataframe by using my "films.csv" file. So that I used "spark.read.csv()" command.

Also here I gave "df.columns" command that retrieve only the column names.

In [ ]:
df = spark.read.csv('films.csv', header = True, sep = ";")
df.columns

['Year',
 'Length',
 'Title',
 'Subject',
 'Actor',
 'Actress',
 'Director',
 'Popularity',
 'Awards',
 '*Image,,,,,']

"df.dtypes" command retrieve the dataframe schema.

In [ ]:
df.dtypes

[('Year', 'int'),
 ('Length', 'int'),
 ('Title', 'string'),
 ('Subject', 'string'),
 ('Actor', 'string'),
 ('Actress', 'string'),
 ('Director', 'string'),
 ('Popularity', 'int'),
 ('Awards', 'string'),
 ('*Image,,,,,', 'string')]

Or else I can use this "df.printSchema()" function to view schema of the dataframe.

In [ ]:
df.printSchema()

root
 |-- Year: integer (nullable = true)
 |-- Length: integer (nullable = true)
 |-- Title: string (nullable = true)
 |-- Subject: string (nullable = true)
 |-- Actor: string (nullable = true)
 |-- Actress: string (nullable = true)
 |-- Director: string (nullable = true)
 |-- Popularity: integer (nullable = true)
 |-- Awards: string (nullable = true)
 |-- *Image,,,,,: string (nullable = true)

**Inferring Schema Implicitly**

'films.csv': This is the path to the CSV file you want to read. It should exist in the current working directory or be specified with the full path.

header = True: This option specifies that the first row of the CSV file contains the column names (header).

sep = ";": This option specifies the delimiter used in the CSV file. In this case, it's a semicolon (;).

inferSchema = True: This option tells PySpark to infer the data types of the columns automatically.

In [ ]:
df = spark.read.csv('films.csv', header = True, sep = ";", inferSchema = True)
df.printSchema()

**Viewing the Dataframe**

There are several methods to get the values from dataframe, but here I used "df.show()" function. Other options are,

df.take() - used to retrieve the first N rows from a DataFrame

df.collect() - used to retrieve all the rows from a DataFrame and return them as a local Python list

df.limit() - used to restrict the number of rows that are returned from a DataFrame

And, truncate: This argument is a boolean that controls whether long strings in the DataFrame should be truncated to fit within the column width. In your code, you've set it to False, which means long strings will not be truncated.

In [ ]:
df.show(20, truncate = False)

+----+------+--------------------------------------+-------+-----------------------+-------------------+------------------------+----------+------+---------------------+
|Year|Length|Title                                 |Subject|Actor                  |Actress            |Director                |Popularity|Awards|*Image,,,,,          |
+----+------+--------------------------------------+-------+-----------------------+-------------------+------------------------+----------+------+---------------------+
|1990|111   |Tie Me Up! Tie Me Down!               |Comedy |Banderas, Antonio      |Abril, Victoria    |Almod�var, Pedro        |68        |No    |NicholasCage.png,,   |
|1991|113   |High Heels                            |Comedy |Bos�, Miguel           |Abril, Victoria    |Almod�var, Pedro        |68        |No    |NicholasCage.png,,   |
|1983|104   |Dead Zone, The                        |Horror |Walken, Christopher    |Adams, Brooke      |Cronenberg, David       |79        |No    |NicholasCage.png,    |
|1979|122   |Cuba                                  |Action |Connery, Sean          |Adams, Brooke      |Lester, Richard         |6         |No    |seanConnery.png,,    |
|1978|94    |Days of Heaven                        |Drama  |Gere, Richard          |Adams, Brooke      |Malick, Terrence        |14        |No    |NicholasCage.png,,   |
|1983|140   |Octopussy                             |Action |Moore, Roger           |Adams, Maud        |Glen, John              |68        |No    |NicholasCage.png,,   |
|1984|101   |Target Eagle                          |Action |Connors, Chuck         |Adams, Maud        |Loma, Jos� Antonio de la|14        |No    |NicholasCage.png,,   |
|1989|99    |American Angels: Baptism of Blood, The|Drama  |Bergen, Robert D.      |Adams, Trudy       |Sebastian, Beverly      |28        |No    |NicholasCage.png,    |
|1985|104   |Subway                                |Drama  |Lambert, Christopher   |Adjani, Isabelle   |Besson, Luc             |6         |No    |NicholasCage.png,,   |
|1990|149   |Camille Claudel                       |Drama  |Depardieu, G�rard      |Adjani, Isabelle   |Nuytten, Bruno          |32        |No    |NicholasCage.png,,   |
|1982|188   |Fanny and Alexander                   |Drama  |Ahlstedt, B�rje        |Adolphson, Kristina|Bergman, Ingmar         |81        |Yes   |Bergman.png,,        |
|1982|117   |Tragedy of a Ridiculous Man           |Drama  |Tognazzi, Ugo          |Aimee, Anouk       |Bertolucci, Bernardo    |17        |No    |NicholasCage.png,,   |
|1966|103   |A Man & a Woman                       |Drama  |Trintignant, Jean-Louis|Aimee, Anouk       |Lelouch, Claude         |46        |Yes   |NicholasCage.png,,   |
|1986|112   |A Man & a Woman: Twenty Years Later   |Drama  |Trintignant, Jean-Louis|Aimee, Anouk       |Lelouch, Claude         |49        |No    |NicholasCage.png,,   |
|1966|103   |Un Hombre y una Mujer                 |Drama  |Trintignant, Jean-Louis|Aimee, Anouk       |Lelouch, Claude         |6         |Yes   |NicholasCage.png,,   |
|1985|112   |Official Story, The                   |Drama  |Alterio, Hector        |Aleandro, Norma    |Puenzo, Luiz            |39        |Yes   |NicholasCage.png,    |
|1976|150   |Lindbergh Kidnapping Case, The        |Drama  |Hopkins, Anthony       |Alexander, Denise  |Kulik, Buzz             |51        |No    |AnthonyHopkins.png,  |
|1929|84    |Blackmail                             |Mystery|Longden, John          |Algood, Sara       |Hitchcock, Alfred       |2         |No    |alfredHitchcock.png,,|
|1963|109   |Donovan's Reef                        |Comedy |Wayne, John            |Allen, Elizabeth   |Ford, John              |62        |No    |johnWayne.png,,      |
|1988|110   |Tucker: The Man & His Dream           |Drama  |Bridges, Jeff          |Allen, Joan        |Coppola, Francis Ford   |68        |No    |NicholasCage.png,,   |
+----+------+--------------------------------------+-------+-----------------------+-------------------+------------------------+----------+------+---------------------+
only showing top 20 rows

**Defining Schema Explicitly**

If we want to define the schema of the dataframe, we can use this method.

First, I import necessary data types from "pyspark.sql.types"

Second, I create a list of column names and their corresponding data types as tuples

In my example, I changed 'Length' datatype as a 'DoubleType'

In [ ]:
from pyspark.sql.types import *

labels = [
    ('Year', IntegerType()),
    ('Length', DoubleType()),
    ('Title', StringType()),
    ('Subject', StringType()),
    ('Actor', StringType()),
    ('Actress', StringType()),
    ('Director', StringType()),
    ('Popularity', IntegerType()),
    ('Awards', StringType()),
    ('Image', StringType())
]

Afterthat, I define the schema for the dataframe according to the list that i have created.

In [ ]:
schema = StructType([StructField (x[0], x[1], True) for x in labels])
schema

StructType([StructField('Year', IntegerType(), True), StructField('Length', IntegerType(), True), StructField('Title', StringType(), True), StructField('Subject', StringType(), True), StructField('Actor', StringType(), True), StructField('Actress', StringType(), True), StructField('Director', StringType(), True), StructField('Popularity', DoubleType(), True), StructField('Awards', StringType(), True), StructField('Image', StringType(), True)])

Finnally, I created the dataframe with my schema.

schema=schema: Specifies the schema that I defined earlier using the schema variable. This schema defines the structure and data types of the dataframe.

In [ ]:
df = spark.read.csv('films.csv', header = True, sep = ";", schema = schema)
df.printSchema()

root
 |-- Year: integer (nullable = true)
 |-- Length: integer (nullable = true)
 |-- Title: string (nullable = true)
 |-- Subject: string (nullable = true)
 |-- Actor: string (nullable = true)
 |-- Actress: string (nullable = true)
 |-- Director: string (nullable = true)
 |-- Popularity: double (nullable = true)
 |-- Awards: string (nullable = true)
 |-- Image: string (nullable = true)

In [ ]:
df.show (20, truncate = False)

+----+------+--------------------------------------+-------+-----------------------+-------------------+------------------------+----------+------+---------------------+
|Year|Length|Title                                 |Subject|Actor                  |Actress            |Director                |Popularity|Awards|Image                |
+----+------+--------------------------------------+-------+-----------------------+-------------------+------------------------+----------+------+---------------------+
|1990|111   |Tie Me Up! Tie Me Down!               |Comedy |Banderas, Antonio      |Abril, Victoria    |Almod�var, Pedro        |68.0      |No    |NicholasCage.png,,   |
|1991|113   |High Heels                            |Comedy |Bos�, Miguel           |Abril, Victoria    |Almod�var, Pedro        |68.0      |No    |NicholasCage.png,,   |
|1983|104   |Dead Zone, The                        |Horror |Walken, Christopher    |Adams, Brooke      |Cronenberg, David       |79.0      |No    |NicholasCage.png,    |
|1979|122   |Cuba                                  |Action |Connery, Sean          |Adams, Brooke      |Lester, Richard         |6.0       |No    |seanConnery.png,,    |
|1978|94    |Days of Heaven                        |Drama  |Gere, Richard          |Adams, Brooke      |Malick, Terrence        |14.0      |No    |NicholasCage.png,,   |
|1983|140   |Octopussy                             |Action |Moore, Roger           |Adams, Maud        |Glen, John              |68.0      |No    |NicholasCage.png,,   |
|1984|101   |Target Eagle                          |Action |Connors, Chuck         |Adams, Maud        |Loma, Jos� Antonio de la|14.0      |No    |NicholasCage.png,,   |
|1989|99    |American Angels: Baptism of Blood, The|Drama  |Bergen, Robert D.      |Adams, Trudy       |Sebastian, Beverly      |28.0      |No    |NicholasCage.png,    |
|1985|104   |Subway                                |Drama  |Lambert, Christopher   |Adjani, Isabelle   |Besson, Luc             |6.0       |No    |NicholasCage.png,,   |
|1990|149   |Camille Claudel                       |Drama  |Depardieu, G�rard      |Adjani, Isabelle   |Nuytten, Bruno          |32.0      |No    |NicholasCage.png,,   |
|1982|188   |Fanny and Alexander                   |Drama  |Ahlstedt, B�rje        |Adolphson, Kristina|Bergman, Ingmar         |81.0      |Yes   |Bergman.png,,        |
|1982|117   |Tragedy of a Ridiculous Man           |Drama  |Tognazzi, Ugo          |Aimee, Anouk       |Bertolucci, Bernardo    |17.0      |No    |NicholasCage.png,,   |
|1966|103   |A Man & a Woman                       |Drama  |Trintignant, Jean-Louis|Aimee, Anouk       |Lelouch, Claude         |46.0      |Yes   |NicholasCage.png,,   |
|1986|112   |A Man & a Woman: Twenty Years Later   |Drama  |Trintignant, Jean-Louis|Aimee, Anouk       |Lelouch, Claude         |49.0      |No    |NicholasCage.png,,   |
|1966|103   |Un Hombre y una Mujer                 |Drama  |Trintignant, Jean-Louis|Aimee, Anouk       |Lelouch, Claude         |6.0       |Yes   |NicholasCage.png,,   |
|1985|112   |Official Story, The                   |Drama  |Alterio, Hector        |Aleandro, Norma    |Puenzo, Luiz            |39.0      |Yes   |NicholasCage.png,    |
|1976|150   |Lindbergh Kidnapping Case, The        |Drama  |Hopkins, Anthony       |Alexander, Denise  |Kulik, Buzz             |51.0      |No    |AnthonyHopkins.png,  |
|1929|84    |Blackmail                             |Mystery|Longden, John          |Algood, Sara       |Hitchcock, Alfred       |2.0       |No    |alfredHitchcock.png,,|
|1963|109   |Donovan's Reef                        |Comedy |Wayne, John            |Allen, Elizabeth   |Ford, John              |62.0      |No    |johnWayne.png,,      |
|1988|110   |Tucker: The Man & His Dream           |Drama  |Bridges, Jeff          |Allen, Joan        |Coppola, Francis Ford   |68.0      |No    |NicholasCage.png,,   |
+----+------+--------------------------------------+-------+-----------------------+-------------------+------------------------+----------+------+---------------------+
only showing top 20 rows

In following code, I defined a variable as "data_count" and get the row count of the dataframe by using "df.count()" function.

In [ ]:
data_count = df.count()
print ("Total count of data : " + str(data_count))

Total count of data : 1659

**DataFrame Operations on Columns**

There can do several operations based on the columns. First I do the **select** operation. In that case there are two types of select operations, Single column selection and Multiple column selection.

Case 1: I want to retrieve the all the Title of films using dot notation.

In [ ]:
df.select(df.Title).show(truncate = False)

Also I can get these values from another method.

In [ ]:
df.select(df['Title']).show(truncate = False)

And finally I can do same operation by using **pyspark.sql.functions** library.

In [ ]:
from pyspark.sql.functions import col
df.select(col('Title')).show(truncate = False)

Case 2 : I need the year and the title of the all films.

In [ ]:
from pyspark.sql.functions import col
df.select(col('Title'),col('Year')).show(truncate = False)

Case 3: Retrieve title, length and type of each film.

In [ ]:
from pyspark.sql.functions import col
df.select(col('Title'),col('Length'),col('Subject')).show(truncate = False)

Case 4: Give me the director, actor and actress name of an each film.

In [ ]:
from pyspark.sql.functions import col
df.select(col('Title'),col('Director'),col('Actor'),col('Actress')).show(truncate = False)

Case 5: Details about the popularity and awards of each film

In [ ]:
from pyspark.sql.functions import col
df.select(col('Title'),col('Popularity'),col('Awards')).show(truncate = False)

Then I move to the next operation. That is **adding** a new columns to the dataframe. So there are three options, Add single column, Add multiple columns, And deriving a new column from an exisitng one.

Case 1: I want to add a new column to this dataframe called as "Country" and it contains "US". That means these all movies are made in US.

In [ ]:
from pyspark.sql.functions import lit
df = df.withColumn('Country',lit("US"))
df.show(truncate = False)

**lit** means literal. It populates the row with the literal value given.

Case 2: I want to add a new column as "Title_year" which has value of title and year appended together with a space in between. Also add another column to store static value called "Released".

In [ ]:
from pyspark.sql.functions import concat
df = df.withColumn('Title_year', concat(col("Title"), lit(" "), col("Year"))) \
        .withColumn('Status', lit("Released"))
df.show(truncate = False)

Another operation is **renaming** the column.

Case 1 : Rename the "Subject" column as "Category".

In [ ]:
df = df.withColumnRenamed('Subject','Category')
df.show(truncate = False)

We can **remove** a single column and also multiple columns.

Case 1: Remove "Status" column

In [ ]:
df = df.drop('Status')
df.show(10, truncate = False)

Case 2 : Remove "Titel_year" column and "Country" column at the same time.

In [ ]:
df = df.drop('Title_year') \
        .drop('Country')
df.show(5, truncate = False)

Another Important operation is **Group By Column**.

Case 1 : Give count of different categories of filems.

In [ ]:
df.groupBy('Category').count.show(5, truncate = False)

Case 2: Count of awarded and non-awarded.

In [ ]:
df.groupBy('Awards').count.show(5, truncate = False)

Case 3: Count of films that each actress acts.

In [ ]:
df.groupBy('Actress').count.show(truncate = False)

Case 4: Group by "Actor" and "Actress".

In [ ]:
df.groupBy('Actor','Actress').count.show(truncate = False)

**Dataframe Operations on Rows**

The first operation is **filtering** rows.

Case 1: Get count of "Action" films and retrieve those films.

In [ ]:
action_films = df.filter(col('Category') == "Action").count()
print("Count of action films: " + str(action_films))
df.filter(col('Category') == "Action").show(truncate = False)

Case 2: Get the details about the awarded films.

In [ ]:
df.filter(col('Awards') == "Yes").show(truncate = False)

Case 3: Give the film list that "Trintignant, Jean-Louis" is the actor and "Lelouch, Claude" is the director.

In [ ]:
get_count = df.filter(col('Actor') == "Trintignant, Jean-Louis" & col('Director') == "Lelouch, Claude").count()
print("Count of films: " + str(get_count))
df.filter(col('Actor') == "Trintignant, Jean-Louis" & col('Director') == "Lelouch, Claude").show(truncate = False)

Case 4: How many films directed by Puenzo, Luiz have won awards and what are they?

In [ ]:
award_count = df.filter(col('Director') == "Puenzo, Luiz" & col('Awards') == "Yes").count()
print("Count of Awarded films directed by Puenzo, Luiz : " + str(award_count))
df.filter(col('Director') == "Puenzo, Luiz" & col('Awards') == "Yes").show(truncate = False)

**Get Distinct Rows** operation is used to get unique values from dataframe.

Case 1: Get all the actors.

In [ ]:
actor_count = df.select('Actor').distinct().count()
print("There are  " + str(actor_count) + " actors in this dataframe.")
df.select('Actor').distinct().show(truncate = False)

Case 2: Who are the main characters who act together in the movies?

In [ ]:
main_count = df.select('Actor','Actress').distinct().count()
print("There are  " + str(main_count) + " data in this dataframe.")
df.select('Actor','Actress').distinct().show(truncate = False)

The next operation is **Sorting Rows**.

Case 1: List tha films by year in ascending order.

In [ ]:
df.orderBy('Year').show(truncate = False)

Case 2: List the films by highest length to lowest length.

In [ ]:
df.orderBy('Length', ascending=False).show(truncate = False)

Case 3: List the films by highest popularity to lowest.

In [ ]:
df.orderBy('Popularity', ascending=False).show(truncate = False)

Case 4: Give the count of categories in ascending order

In [ ]:
df.groupBy("Categories").count().orderBy('count').show(truncate = False)

case 5: How many films get awarded?

In [ ]:
df.groupBy("Awards").count().orderBy('count').show(truncate = False, ascending = False)

**Union Dataframes**

Case 1: Get the count of Action films and Mystery films with awards, then get tha count of all those two types.

In [ ]:
action_films = df.filter((col('Category')=='Action') & (col('Awards')=="Yes"))
mystery_films = df.filter((col('Category')=='Mystery') & (col('Awards')=="Yes"))
print("Action Films: "+str(action_films.count()))
print("Mystery Films: "+str(mystery_films.count()))
print("AFTER UNION: "+str(action_films.union(mystery_films).count()))

**Numeric functions**

Case 1: Show the oldest film and newest film year

Case 2: Get the highest length and lowest length

Case 3: Highest popularity and lowest popularity

In [ ]:
from pyspark.sql.functions import min, max
df.select(min(col('Year')), max(col('Year'))).show()

In [ ]:
df.select(max(col('Length')), min(col('Length'))).show()

In [ ]:
df.select(max(col('Popularity')), min(col('Popularity'))).show()